#header-search #searchsubmit { border:1px; }
#header-search #s { padding-bottom:7px; position:relative; top:1px;}
/*
.sf-menu .current_page_item a, 
.sf-menu .current_page_ancestor a, 
.sf-menu .current_page_parent a { border-color:#fff;}
*/
